@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//DESKTOP
$font-xlg: 4rem;
$font-lg: 3rem;
$font-md: 1.5rem;
$font-sml: .88rem;

//MOBILE
$r-font-xlg: 3rem;
$r-font-lg: 1.38rem;
$r-font-md: 1rem;
$r-font-sml: .75rem;

// COLORS
$main-color: #5975FF;
$second-color: #3029D9;
$third-color: #111849;
$fourth-color: #DAD9FF;
$fifth-color: #0B1131;
$sixth-color: #A0ABB8;
$font-color: #fff;

// TRANSITIONS