@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
  /*font-size: $font-sml;*/
  display: inline-block;
}

a.btn{
  border-radius: 4px;
  /*color: $font-color;*/
}

a.first-btn{
  padding: .70rem 3.25rem;
  /*background-color: $third-color;*/
}

a.second-btn{
  padding: .70rem 1.31rem;
  /*background-color: $second-color;*/
}

a.third-btn{
  padding: .70rem 1.31rem;
  background-color: transparent;
  /*border: 2px solid $font-color;*/
}

// section about us per i boxes
@-webkit-keyframes scroll {
  0% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }

  100% {
  -webkit-transform: translateX(calc(-250px * 7));
  transform: translateX(calc(-250px * 7));
  }
  }

  @keyframes scroll {
  0% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  100% {
  -webkit-transform: translateX(calc(-250px * 7));
  transform: translateX(calc(-250px * 7));
  }
  }

  .shape-a {
    //box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    margin: auto;
  }

  .shape-a::before, .shape-a::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 50px;
    z-index: 2;
  }

  .shape-a::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
  }

  .shape-a::before {
    left: 0;
    top: 0;
  }

  .shape-a .shape-b {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 35s linear infinite;
    width: calc(250px * 14);
  }

div.shape{
  min-width: 23.4rem;
  height: 10.69rem;
  border-radius: 7rem;
  padding-left: 6rem;

  &.right{
      border-top-right-radius: 0;
  }

  &.left{
      border-bottom-left-radius: 0;
  }

  h2{
      font-size: 2.75rem;
  }

  p{
      //color: $second-color;
  }
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-881px, 0, 0); /* The image width */
  }
}

// section tools dynamic boxes
div.tool-card{
  width: 23.38rem;
  height: 27.75rem;
  border-radius: .6rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 20rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &.dark-middle{
      //color: $font-color;
      //background-color: second;
  }

  &.dark{
      //color: $font-color;
      //background-color: $fifth-color;
  }

  div.shape-1, div.shape-2{
      position: absolute;
      width: 23rem;
      height: 25rem;
  }

  div.shape-1{
      right: 43%;
      top: 48%;
      z-index: 1;
      border-radius: 45%;

      &.white{
          background: linear-gradient(107deg, rgba(white, $alpha: .05) 45%, rgba(48,41,217,0) 100%);
      }
  }

  div.shape-2{
      left: 10%;
      top: 70%;
      z-index: 0;
      border-radius: 45%;
      border-top-left-radius: 0;

      &.white{
          background: linear-gradient(260deg, rgba(white, $alpha: .05) 45%, rgba(48,41,217,0) 100%);
      }
  }

  p, h3{
      text-align: center;
  }

  div.text{
      padding: 0 2rem;
      height: 100%;
  }

  div.icon{
      width: 4rem;

      &.white{
          color: white;
      }
  }
}

div.goal-card{
  width: 18.13rem;
  height: 17.75rem;
  box-shadow: 0 4px 20rem 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  color: black;
  text-align: center;

  //@include respond-to(medium){
  //    width: 100%;
  //    margin-bottom: 3rem;
  //}

  .icon{
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 50%;
      border-bottom-left-radius: 0;
      padding: 1rem;

      .i{
        font-size: 1rem;
      }
  }

  h3{
      margin-top: 1rem;
  }

  div.icon{
      font-size: 2.5rem;
  }

}

div.blog-card{
  max-width: 23.38rem;
  min-width: 20rem;
  height: 36.44rem;
  border-radius: .6rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 20rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .image{
      height: 45%;

      img{
          height: 100%;
          width: 100%;
          object-fit: cover;
      }
  }

  div.text{
      height: 55%;
      padding: 1rem 2rem;
  }

}

footer{
  color: black;
  text-align: center;

  div.newsletter{

    input[type=text]{
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }

  div.social{

      ul{

          li .i{
              width: 2rem;
          }

          li:not(:last-child){
              margin-right: 1rem;
          }
      }
  }
}

/*@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}*/
